@model GreenTeam.Models.PatchTask

@{
    ViewData["Title"] = "Edit Task";
}

<h1>Edit</h1>

<h4>Task</h4>
<hr />
<div class="row">
    <div class="col-md-4"> 
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PatchId" />
            <div class="form-group">
                <label asp-for="TaskName" class="control-label">Task:</label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaskDescription" class="control-label">Description:</label>
                <input asp-for="TaskDescription" class="form-control" />
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-action"  />
                <a class="btn btn-action" asp-controller="Patches" asp-action="Details" asp-route-id="@Model.PatchId">Cancel</a>
            </div>
        </form>
    </div>
</div>

<br />
<br />

<dl class="row">
        <dd class = "col-sm-10">
            Do you want to delete @Html.DisplayFor(model => model.TaskName)?
        </dd>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
           <input type="submit" value="Delete" class="btn btn-danger" />  
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 
