@model GreenTeam.ViewModels.PatchTaskVM

@{
    ViewData["Title"] = "Edit Task";
}

<div>
    <a class="btn btn-link" asp-controller="Patches" asp-action="Details" asp-route-id=@Model?.PatchId><i class="fas fa-chevron-left"></i> Back to Patch</a>
</div>

<div class="garden-index-all-centered row row-cols-lg-auto row-detail">
<div class="row">
    <div class="align-content-center">
        <form asp-action="Edit">
            <h1>Edit Task</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="PatchId" />
            <div class="form-group">
                <label asp-for="TaskName" class="control-label"></label>
                <input asp-for="TaskName" class="form-control" />
                <span asp-validation-for="TaskName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="TaskDescription" class="control-label"></label>
                <textarea asp-for="TaskDescription" class="text-area-edit"></textarea>
                <span asp-validation-for="TaskDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
                <input type="button" value="Delete" class="btn btn-danger" onclick="deleteConfirm()" />
            </div>
        </form>
    </div>
</div>
</div>
<br />
<br />

<!-- Modal Script -->
<div class="modal fade" id="delete-conformation" tabindex="-1" role="dialog" aria-labelledby="deleteconformation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="delete-conformation">
                    Delete Confirmation
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="modal-p">
                                Are you sure you want to delete @Html.DisplayFor(model => model.TaskName)?
                            </p>
                            <strong id="deletedValueName">
                            </strong>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" asp-controller="PatchTasks" asp-action="Edit" asp-route-id="@Model?.Id">Cancel</a>
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    //this is only display bootstrap modal pop up dialog
    var deleteConfirm = function (val) {
        $('#deletedValueName').text(val);
        $('#delete-conformation').modal('show');
    }

</script>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
