@{
    ViewData["Title"] = "Admin Portal";
}

<div>
    <a class="btn btn-link" asp-controller="Home" asp-action="Index"><i class="fas fa-chevron-left"></i> Back</a>
</div>

<div class="row row-cols-lg-auto row-detail">
    <div class="col col-lg-auto">
        <h1>Admin Portal</h1>
        <a class="btn btn-action" asp-controller="Admin" asp-action="ListUsers">Manage Users</a>
        <a class="btn btn-action" asp-controller="Admin" asp-action="ListGardens">Manage Gardens</a>
    </div>
</div>
