
@{
    ViewData["Title"] = "Admin Portal";
}

<h1>Admin Portal</h1>
<br />

<p>
    <a class="btn btn-action" asp-controller="Admin" asp-action="Create">Create Role</a>
    <a class="btn btn-action" asp-controller="Admin" asp-action="ListUsers">Manage Users</a>
    <a class="btn btn-action" asp-controller="Admin" asp-action="ListGardens">Manage Gardens</a>
</p>

<p>
    This is the Admin Portal. Here you can add user roles or manage users. 
</p>