@model IEnumerable<AppUser>

@{
    ViewBag.Title = "GreenTeam Users";
}

<h1>All GreenTeam Users</h1>
<br />
<br />


@if (Model.Any<AppUser>())
{
    foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">@user.FullName</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.Email</h5>
            </div>
            <div class="card-footer">
                @using (Html.BeginForm("DeleteUser", "Admin", new { @id = @user.Id }, FormMethod.Post))
                {
                    <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i></button>
                }
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-body">
            There are no users yet.
        </div>
    </div>
}

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


