@model GreenTeam.Models.Patch

@{
    ViewData["Title"] = "Create Patch";
}

<h1>Create</h1>

<h4>Patch</h4>
<a class="btn btn-action" asp-controller="Gardens" asp-action="Details" asp-route-id="@Model?.GardenId">Back to List</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="GardenId" value=@Url.ActionContext.RouteData.Values["id"] />
            <div class="form-group">
                <label asp-for="PatchName" class="control-label">Patch Name:</label>
                <input asp-for="PatchName" class="form-control" />
                <span asp-validation-for="PatchName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crop" class="control-label">Crop Name:</label>
                <input asp-for="Crop" class="form-control" />
                <span asp-validation-for="Crop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-action" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}