@model IEnumerable<GreenTeam.ViewModels.GardenVM>

@{
    ViewData["Title"] = "Gardens";
}

<h1>Gardens</h1>

<p>
    <a class="btn btn-action" asp-action="Create">Create New Garden</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td><a class="table-content" asp-action="Details" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
