@using GreenTeam.ViewModels
@model IEnumerable<GreenTeam.ViewModels.GardenVM>

@{
    ViewData["Title"] = "Gardens";
}

<div class="garden-index-all-centered row row-cols-lg-auto row-detail">
    <div class="col col-lg-auto">
        <h1>
            Gardens
            <a class="btn btn-link" asp-action="Create"><i class="fas fa-plus"></i></a>
        </h1>

        <table class="table table-striped pointer">
            <tbody>
                @if (!Model.Any<GardenVM>())
                {
                    <p>You haven't joined any gardens yet</p>
                }
                @foreach (var item in Model)
                {
                    <tr scope="row" class="alnleft">
                        <td>
                            <a class="table-content" asp-action="Details" asp-route-id="@item.Id">
                                <i class="fas fa-seedling"></i>
                                @Html.DisplayFor(modelItem => item.Name)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />

    </div>
</div>


