@model IEnumerable<GreenTeam.ViewModels.GardenVM>

@{
    ViewData["Title"] = "Gardens";
}
<div class="garden-index-all-centered">
<h1>Gardens</h1>
<table class="table  table-hover">
    <tbody>
        @foreach (var item in Model)
        {
            <tr scope="row" class="alnleft">
                <td>
                    <a class="table-content" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa-light fa-hand-holding-seedling"></i> 
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<a class="btn btn-action" asp-action="Create">Add Garden</a>
</div>


