@{
    ViewData["Title"] = "GreenTeam";
}

<div class="text-center">
    <h1 class="display-4">GreenTeam</h1>
    <p>Share your vegetable garden with friends and loved ones!</p>
    <br />
    <a class="btn btn-cta" asp-controller="Gardens" asp-action="Create" >Start your own garden now!</a>
    <br />
    <br />

</div>