@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Lorem ipsum privacy dolor sit amet, consectetur adipiscing elit. Pellentesque egestas dictum est, ut eleifend ex. Proin auctor velit non blandit feugiat. Aliquam pellentesque, neque id molestie dignissim, risus leo dignissim dolor, quis semper quam sapien in elit. Nulla justo mi, sollicitudin vel ultricies non, auctor consequat leo. Cras facilisis ullamcorper eros, id consectetur tortor interdum vel. Phasellus eget dolor a nulla tincidunt feugiat. Nullam quis vulputate erat, vel semper tellus. Cras turpis nunc, consectetur eu aliquam convallis, vulputate nec magna.

Suspendisse et ligula ac risus egestas lacinia. Cras id maximus ante. Vivamus vestibulum arcu at dolor fermentum, eget tincidunt diam ullamcorper. Fusce et consequat eros. Cras pulvinar ipsum ut leo condimentum, sit amet lacinia mauris vulputate. Aenean lacinia vestibulum ante vel rhoncus. Nulla facilisi. Aliquam ultricies facilisis egestas. Vestibulum purus diam, consectetur in imperdiet ac, laoreet a nisi. In hac habitasse platea dictumst. Donec sed sagittis quam, a egestas diam. Suspendisse ut nibh eget diam eleifend feugiat id id dolor. Proin dolor nisl, ultrices quis consectetur ut, posuere at leo.

Morbi lectus nibh, gravida quis nunc in, suscipit scelerisque quam. Cras pulvinar tempor mi. Pellentesque mauris sapien, consectetur id odio eu, sagittis lobortis nulla. Vivamus non tristique massa. Aenean sollicitudin quam non tortor fringilla ultricies. Quisque sed leo eu libero porta ullamcorper placerat ut tellus. Nunc scelerisque pulvinar interdum.</p>
