@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;500;600&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

/* Navbar styling*/
.bg-white {
    background: linear-gradient(270deg, #087040d4, #038C4C) !important;
}

.navbar-brand {
    color: #ffffff !important;
}

.navbar{
    padding-left: 15rem;
    padding-right: 15rem;
}

.nav-link{
    white-space: nowrap;
}

.btn-link {
    font-weight: 600;
}

/*Navbar border*/
.border-bottom {
    border-bottom: 2px solid #087040d4 !important;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-top: 0.9rem;
}

body {
    margin-bottom: 60px;
    background: url('../image/pexels-greta-hoffman-7728347.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

td {
    text-decoration: none !important;
    color: #ffffff !important;
}

p {
    text-decoration: none;
    color: #ffffff;
}

.table-content {
    font-size: 1.3rem;
}

/* Stretched link styling */

.stretched-link::after {
    border-radius: 50% !important;
}

.card-header {
    border-bottom: none;
    background-color: rgba(0,0,0,0);
}

.card-footer {
    padding: 0.7rem 0.5rem;
    background-color: rgba(0,0,0,0);
    border-top: none;
}

/* Anchor hover */

a:hover {
    color: #ffffff6e !important;
    cursor: pointer;
}

h1 {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    padding-left: 0.3rem !important;
}

h4 {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    padding-left: 0.3rem !important;
}

main {
    margin: 150px 0px 10px 0px;
    box-sizing: border-box;
    padding: 1.5rem 6rem !important;
    background: linear-gradient(270deg, #087040d4, #038C4C);
    padding: 20px 0px 20px 0px;
    border-radius: 1rem;
}

.pb-3 {
    padding-bottom: 1.5rem !important;
}

/*Background of content*/
.container {
    min-width: 500px;
    max-width: 960px;
    width: max-content;
    text-align: center;
    position: relative;
}

/*header of the main text*/
/*TODO, differentiate homepage main header from table headers (h1)*/
.display-4 {
    font-size: 500%;
    font-weight: 800;
    color: #D9A404;
}

.text-center p {
    font-size: calc(1rem + 0.5vw);
    font-weight: 400;
}

/*Tables*/
/*th {
    color: #D9A404;
    font-size: 2rem;
    padding: 0rem 4rem !important;
}*/

tr {
    text-decoration: none;
    color: #ffffff;
    border-style: hidden !important;
}

td {
    font-size: 1.3rem;
    /*width: 50% removed and added in td's of gardenlist*/
}

table{
    border-radius: 0.25rem;
    margin-bottom: 0rem !important;
}

.alnright {
    text-align: right;
}

.alnleft {
    text-align: left;
}

.table-text{
    text-align: left;
    text-align-last: left;
}
.table-textfield{
    font-size: 0.85rem;
    text-align:right;
    font-style:normal;
    

}

/*Card div override*/
.card {
    background-color: transparent !important;
    border-radius: 0.25rem;
    border: 0px;
}

/*Footer border*/
.border-top {
    border-top: 0px !important;
}

.footer {
    position: absolute;
    text-align: center;
    border-style: solid, none, none, none;
    border-color: #000;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: #ffffff !important;
}

.form-label {
    color: #000;
    text-shadow: none;
}

/* Buttons */
/*Index button call to action - Red */

.btn-cta {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 1.375rem 1.75rem;
}

/* Button styling for actions - Blue */

.btn-action {
    color: #fff;
    background-color: #87b2f1;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0.8rem;
    margin: 1rem 0.1rem;
}

.btn-action-standard {
    color: #fff;
    background-color: #87b2f1;
}

.btn-primary {
    color: #fff;
    background-color: #87b2f1;
    border-color: #87b2f1;
}

.btn btn-primary:hover {
    color: #ffffff6e !important;
}


/*Buttons for Identity pages e.g. register / login */

.btn-link {
    text-decoration: none;
    color: #ffffff;
}

.btn-link:hover {
     color: #ffffff6e !important;
}

.btn:hover {
    color: #ffffff6e !important;
}

.form-label-custom {
    color: #fff;
    text-shadow: none;
}

.identity-body {
    color: #ffffff;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #87b2f1;
}

.form-control {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

/*Image and div*/
img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35%;
}

.img-wrapper, .img-wrapper-edit {
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 350px;
    width: 350px;
    margin: auto;
    border-radius: 35%;
    border: 5px solid #D9B7B4;
}

.img-container {
    min-width: 350px;
    max-width: 960px;
    width: auto;
    text-align: center;
    position: relative;
}

.img-container:hover .img-edit-textbox {    
    transition: .5s;
    opacity: 1;
}

.img-container:hover .img-wrapper-edit {
    transition: .5s;
    opacity: 0.4;
}

.img-edit-textbox {
    opacity: 0;
    position: absolute;
    transition: .5s ease;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: x-large;
}

.clickable-lable:hover {
    cursor: pointer;
    opacity: 0.4;
}


/*Form Titles*/
.control-label {
    font-size:1.5rem;
    word-break: break-all;
}


.field-validation-error {
    font-size: 0.9rem;
    color: #D8000C !important;
    background-color: #FFD2D2;
    padding: 4px;
}

/*Form Input*/
.text-area-edit{
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border-radius: 4px;
    resize:none;
    font-size: small;
}

/* Modal Styling */

modal-fade {
    margin: 50px 0px;
}

.modal-dialog {
    width: 501px !important;
    margin: 0 auto;
}

.modal-header {
    background: #d9534f;
    color: white;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.modal {
    top: 17rem;
    left: -0.5rem;
}

.modal-content {
    border-radius: 1rem;
}

.modal-p {
    color: #000;
}


.alnleft {
    text-align: left;
}

.card {
    background-color: #087040d4 !important;
    flex-direction: row;
}


/*Garden details page styling*/

.row{


}