@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@400;500;600&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url('../image/pexels-greta-hoffman-7728347.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #ffffff !important;
}

main {
    padding: 150px 0px 10px 0px;
}

/*main text div*/
.text-center {
    background: linear-gradient(135deg, #08704068, #bbefa3);
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
}

/*header of the main text*/
.display-4 {
    font-size: calc(1.5rem + 3.7vw);
    font-weight: 800;
    text-shadow: 2px 0 0 #2f2f2f;
}

.text-center p {
    font-size: calc(1rem + 0.7vw);
    font-weight: 400;
    text-shadow: 2px 0 0 #2f2f2f;
}

/*Navbar background color*/
.bg-white {
    background: linear-gradient(135deg, #08704068, #bbefa3) !important;
}

.navbar-brand {
    color: #ffffff !important;
    text-shadow: 1.5px 0 0 #000 !important;
}

/*Navbar items*/
.text-light {
    color: #ffffff !important;
    text-shadow: 1.5px 0 0 #00330a !important;
}

/*Navbar border*/
.border-bottom {
    border-bottom: 2px solid #08704068 !important;
}

/*Footer border*/
.border-top {
    border-top: 0px !important;
}


.footer {
    position: absolute;
    text-align: center;
    border-style: solid, none, none, none;
    border-color: #000;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    color: #ffffff !important;
    text-shadow: 2px 0 0 #2f2f2f;
}